USE [master]
GO
/****** Object:  Database [LND]    Script Date: 28/09/2018 10:30:45 a.m. ******/
CREATE DATABASE [LND]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LND', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LND.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LND_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LND_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LND].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LND]
GO
/****** Object:  Table [dbo].[Calle]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Anticipo]
GO
/****** Object:  Table [dbo].[Calle]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Calle]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Cotizacion]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Cotizacion]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Empleado]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Estado]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Municipio]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Pago]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Producto]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Proveedor]
GO
/****** Object:  Table [dbo].[Tipo_Pago]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Tipo_Pago]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 28/09/2018 10:30:46 a.m. ******/
DROP TABLE [dbo].[Venta]
GO
/****** Object:  Table [dbo].[Anticipo]    Script Date: 28/09/2018 10:30:46 a.m. ******/

SELECT * INTO varchar FROM Anticipo

drop table Anticipo
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anticipo](
	[Id] [int] NOT NULL,
	[Id_Tipo_pago] [int] NOT NULL,
	[pago_inicial] [money] NOT NULL,
 CONSTRAINT [PK_Anticipo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Anticipo] ([Id], [Id_Tipo_pago], [pago_inicial]) VALUES (1, 20, 1000.0000)
INSERT [dbo].[Anticipo] ([Id], [Id_Tipo_pago], [pago_inicial]) VALUES (2, 30, 1000.0000)
INSERT [dbo].[Anticipo] ([Id], [Id_Tipo_pago], [pago_inicial]) VALUES (3, 40, 1000.0000)

UPDATE [dbo].[Anticipo]
SET [pago_inicial] = 1200.0000
WHERE [Id_Tipo_pago] = 30
GO




SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calle](
	[Id] [int] NOT NULL,
	[Id_municipio] [int] NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[Numero] [int] NOT NULL,
 CONSTRAINT [PK_Calle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Calle] ([Id], [Id_municipio], [Calle], [Numero] VALUES (1, 20, N'platino', 929)
INSERT [dbo].[Calle] ([Id], [Id_municipio], [Calle], [Numero] VALUES (2, 30, N'plata', 933)
INSERT [dbo].[Calle] ([Id], [Id_municipio], [Calle], [Numero] VALUES (3, 40, N'talio', 899)
INSERT [dbo].[Calle] ([Id], [Id_municipio], [Calle], [Numero] VALUES (4, 50, N'magnesio', 901)
INSERT [dbo].[Calle] ([Id], [Id_municipio], [Calle], [Numero] VALUES (5, 60, N'cobalto', 999)
INSERT [dbo].[Calle] ([Id], [Id_municipio], [Calle], [Numero] VALUES (6, 70, N'oceano pacifico', 900)

UPDATE [dbo].[Calle]
SET [Numero] = 888
WHERE [Id_municipio] = 40
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Ap_paterno] [varchar](50) NOT NULL,
	[Ap_materno] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Cliente] ([Id], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (1, N'Iván', N'Valencia', N'Comedores')
INSERT [dbo].[Cliente] ([Id], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (2, N'Alejandro', N'Chavez', N'Zuñiga')
INSERT [dbo].[Cliente] ([Id], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (3, N'Pedro', N'Torres', N'Tapia')
GO

DELETE FROM [dbo].[Cliente]
WHERE [Id] = 5
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[Id] [int] NOT NULL,
	[Id_Tipo_pago] [int] NOT NULL,
	[abono_semanal] [money] NOT NULL,
	[fecha_inicio] [smalldatetime] NOT NULL,
	[fecha_limite] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Cotizacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Cotizacion] ([Id], [Id_Tipo_pago], [abono_semanal], [fecha_inicio], [Fecha_limite]) VALUES (1, 20, 500.0000, CAST(0x07CB0000 AS SmallDateTime), CAST(0x07D20000 AS SmallDateTime))
INSERT [dbo].[Cotizacion] ([Id], [Id_Tipo_pago], [abono_semanal], [fecha_inicio], [Fecha_limite]) VALUES (2, 30, 400.0000, CAST(0x07D20000 AS SmallDateTime), CAST(0x07CA0000 AS SmallDateTime))
INSERT [dbo].[Cotizacion] ([Id], [Id_Tipo_pago], [abono_semanal], [fecha_inicio], [Fecha_limite]) VALUES (3, 40, 300.0000, CAST(0x07CA0000 AS SmallDateTime), CAST(0x07C00000 AS SmallDateTime))

UPDATE [dbo].[Cotizacion]
SET [abono_semanal] = 550.0000
WHERE [Id_Tipo_pago] = 20
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Ap_Paterno] [varchar](50) NOT NULL,
	[Ap_Materno] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Empleado] ([Id], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (7, N'Ernesto', N'Gonzalez', N'Gonzalez')
INSERT [dbo].[Empleado] ([Id], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (7, N'Adan', N'Campos', N'Salas')
INSERT [dbo].[Empleado] ([Id], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (7, N'Emilio', N'Catala', N'Piña')

DELETE FROM [dbo].[Empleado]
WHERE [Id] = 2
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Id] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Estado] ([Id], [Descripcion]) VALUES (1, N'Nuevo Leon')
INSERT [dbo].[Estado] ([Id], [Descripcion]) VALUES (2, N'Tamaulipas')
INSERT [dbo].[Estado] ([Id], [Descripcion]) VALUES (3, N'Chihuahua')

DELETE FROM [dbo].[Estado]
WHERE [Id] = 7
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[Id] [int] NOT NULL,
	[Id_Estado] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Municipio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Municipio] ([Id], [Id_Estado], [Descripcion]) VALUES (1, 20, N'Monterrey')
INSERT [dbo].[Municipio] ([Id], [Id_Estado], [Descripcion]) VALUES (2, 30, N'Tampico')
INSERT [dbo].[Municipio] ([Id], [Id_Estado], [Descripcion]) VALUES (3, 40, N'Chihuahua')
GO

DELETE FROM [dbo].[Municipio]
WHERE [Id] = 1
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[Id] [int] NOT NULL,
	[Monto_pago] [money] NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Pago] ([Id], [Monto_pago]) VALUES (1, 750.0000)
INSERT [dbo].[Pago] ([Id], [Monto_pago]) VALUES (2, 500.0000)
INSERT [dbo].[Pago] ([Id], [Monto_pago]) VALUES (3, 650.0000)

UPDATE [dbo].[Pago]
SET [Monto_pago] = 480.0000
WHERE [Id] = 3
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] NOT NULL,
	[fecha_entrega] [smalldatetime] NOT NULL,
	[firma_entrega] [smalldatetime] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Producto] ([Id], [fecha_entrega], [Firna_entrega], [descripcion], [cantidad]) VALUES (1, CAST(0x07C90000 AS SmallDateTime), CAST(0x07C90000 AS SmallDateTime), N'Sillas', 50)
INSERT [dbo].[Producto] ([Id], [fecha_entrega], [Firna_entrega], [descripcion], [cantidad]) VALUES (2, CAST(0x07C60000 AS SmallDateTime), CAST(0x07C60000 AS SmallDateTime), N'Mesa', 10)
INSERT [dbo].[Producto] ([Id], [fecha_entrega], [Firna_entrega], [descripcion], [cantidad]) VALUES (3, CAST(0x07BD0000 AS SmallDateTime), CAST(0x07BD0000 AS SmallDateTime), N'Sillon', 15)

UPDATE [dbo].[Producto]
SET [cantidad] = 50
WHERE [Id] = 4
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id] [int] NOT NULL,
	[Id_producto] [int] NOT NULL,
	[Empresa] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[Ap_paterno] [varchar](50) NOT NULL,
	[Ap_materno] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Proveedor] ([Id],[Id_producto], [Empresa], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (1, 20, N'A tu medida Estudio', N'Angel', N'Villegas', N'Salazar')
INSERT [dbo].[Proveedor] ([Id],[Id_producto], [Empresa], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (2, 30, N'indesignsolution', N'Erick', N'Roman', N'Guajardo')
INSERT [dbo].[Proveedor] ([Id],[Id_producto], [Empresa], [Nombre], [Ap_paterno], [Ap_materno]) VALUES (3, 40, N'Outdoor living', N'Aydee', N'Flores', N'Trinidad')

DELETE FROM [dbo].[Proveedor]
WHERE [Id] = 6
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Pago](
	[Id] [int] NOT NULL,
	[Id_pago] [int] NOT NULL,
 CONSTRAINT [PK_Tipo_Pago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Tipo_Pago] ([Id], [Id_pago]) VALUES (1, 20)
INSERT [dbo].[Tipo_Pago] ([Id], [Id_pago]) VALUES (2, 30)
INSERT [dbo].[Tipo_Pago] ([Id], [Id_pago]) VALUES (3, 40)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Id] [int] NOT NULL,
	[Id_producto] [int] NOT NULL,
	[Id_empleado] [int] NOT NULL,
	[Id_cliente] [int] NOT NULL,
	[Id_pago] [int] NOT NULL,
	[fecha_entrega] [smalldatetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[total] [money] NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT [dbo].[Venta] ([Id], [Id_producto], [Id_empleado], [Id_cliente], [Id_pago], [Fech_entrega], [Cantidad], [total]) VALUES (1, 20, 2, 3, 4,  CAST(0x07CB0000 AS SmallDateTime), 10, 2000.0000)
INSERT [dbo].[Venta] ([Id], [Id_producto], [Id_empleado], [Id_cliente], [Id_pago], [Fech_entrega], [Cantidad], [total]) VALUES (1, 30, 4, 6, 8,  CAST(0x07D20000 AS SmallDateTime), 15, 1500.0000)
INSERT [dbo].[Venta] ([Id], [Id_producto], [Id_empleado], [Id_cliente], [Id_pago], [Fech_entrega], [Cantidad], [total]) VALUES (1, 40, 6, 9, 12,  CAST(0x07CA0000 AS SmallDateTime), 5, 1000.0000)
GO
USE [master]
GO

select * from Producto 

where Producto.cantidad >100

ORDER BY Id

SELECT id_venta AS ID_VENTA , Total AS Precio FROM Venta WHERE PrecioTotal =( 
		SELECT   AVG(PrecioTotal) 
		FROM Venta AS VentaTotal 
		)  
SELECT top 1* from( 
	SELECT id_Venta,( 
		select count(id_Venta) 
			From Venta	as V
			where c.id_Venta = id_Venta
	) as Ventas 
	from Venta
	) as NC 
where NC.Ventas >1 
WITH Ventas AS ( 
	SELECT COUNT(id_Venta) as NUMVentas 
	 FROM Venta 
) 


SELECT * FROM Venta

select * from Pago

where Pago.Monto_pago = 500.0000

ORDER BY Monto_pago

select * from Calle 

where Calle.Id >40

ORDER BY Numero

select * from  Venta

where Venta.total >400.0000 AND Venta.total >=600.0000 OR Venta.Cantidad=1

ORDER BY Precio_Individual

select * from  Venta

where Venta.Precio_Individual >100 AND Venta.PrecioTotal >=500 OR Venta.Cantidad=10

Order by Venta.total, Venta.total, Venta.Cantidad DESC



SELECT MAX(Total) as PrecioMasAlto from Venta

group by Venta.total 

SELECT COUNT(Nombre) as NumerodeEmpleados FROM Empleado

group by Empleado.Nombre

SELECT SUM(Cantidad) as TotalVendido from Venta 

group by Venta.Cantidad

having COUNT(*)= 1

SELECT Numero AS "Num" FROM Calle ORDER BY Numero

SELECT Id_municipio AS "id_Mun" FROM Calle ORDER BY Id_Municipio

SELECT MAX(Pago_inicial) as PrecioMasAlto from Anticipo 

SELECT COUNT(Nombre) as NombreCliente FROM Cliente

SELECT COUNT(Abono_semanal) AS PrimerAbono FROM Ccotizacion where Abono_semanal >= 500.0000

SELECT COUNT(Monto_pago) AS Dinero FROM Pago where Monto_pago <= 650.0000

SELECT SUM(Total) as TotalRecibo from Venta 


SELECT COUNT(Pago_inicial) AS Pago FROM Anticipo

where Pago_inicial = 1000.0000

SELECT COUNT(abono_semanal) AS Abono FROM Cotizacion

where abono_semanal <=500.0000



Select Cliente.Id from Cliente

inner join Venta on (Cliente.Id = Venta.Id_cliente) Group by Cliente.Id

Select Empleado.Id from Empleado

inner join Venta on (Empleado.Id = Venta.Id_empleado) Group by Empleado.Id

Select Producto.Id from Producto

inner join Venta on (Producto.Id = Venta.Id_producto) Group by Producto.Id

SELECT Id, Proveedor.Nombre as NombreProveedor, Proveedor.Id_producto, Producto.Nombre as NombreProducto

FROM Proveedor INNER JOIN Producto on Producto.Id = Proveedor.Id_producto

SELECT * FROM Venta CROSS JOIN Cliente

SELECT * FROM Venta LEFT JOIN Empleado ON Empleado.Id = Venta.Id_Empleado

SELECT * FROM Venta RIGHT JOIN Producto ON Producto.Id = Venta.Id_producto

CREATE TRIGGER NuevaFecha
ON Venta
AFTER UPDATE
IF UPDATE(Fecha_entrega)
BEGIN

CREATE TRIGGER NuevoAbono
ON Cotizacion
AFTER UPDATE
IF UPDATE(Abono_semanal)
BEGIN